<!DOCTYPE html>
<head>
	<title>Web App Beta</title>
</head>
<body>
<style type="text/css">

body {
	background-color: #F0F0F0;
	font-family: 'HelveticaNeue-Light';
	font-size: 50px;
	padding: 1em;
	margin: auto;
}

table td {
	padding: 1em;
}

table {
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}

</style>
	<form action="/" method="post">
		<table>
			<tr>
				<td><a href="/1">Anshul's Classroom</a></td>
			</tr>
			<tr>
				<td><a href="/2">Gautam's Classroom</a></td>
			</tr>
		</table>
	</form>
</body>
</html>